@charset "utf-8";

/* font */
.fn{font-weight: normal !important;}
.fb{font-weight: bold !important;}
.fs12{font-size: 1.2rem;}
.list1{
	margin: 0 0 0 1.3em;
	li{
		line-height: 1.6;
	}
}
ol.list1 li{list-style: decimal outside;}
ul.list1 li{list-style: disc outside;}

.inb{display: inline-block;}

.txtCenter{
	text-align: center;
}

body.ready{
	visibility: visible !important;
}
.defs{
	display: none;
}
.red-1{
	color: $cr;
}

.mt0{margin-top: 0 !important;}
.mt1em{margin-top: 1em !important;}
.mt2em{margin-top: 2em !important;}
.mt3em{margin-top: 3em !important;}
.pt0{padding-top: 0 !important;}

.link-pdf{
	background: url(../img/common/iconmonstr-file-34.svg) 5px .4em no-repeat;
	background-size: .85em auto;
	// color: $cr;
	text-decoration: none;
	// font-family: $ffjp1;
	// font-size: 1.5rem;
	display: inline-block;
	padding: 0 .3em 0 1.4em;
	transition: .2s;
	border-radius: .1em;
	&:hover{
		background-color: lighten($cr, 47%);
	}
}
.link-googleform{
	background: url(../img/common/icon-googleform-s.svg) .7em 47% no-repeat;
	background-size: 1em auto;
	text-decoration: none;
	display: inline-block;
	// font-family: $ffjp1;
	font-weight: bold;
	font-size: 1.5rem;
	padding: .4em .9em .3em 2.3em;
	transition: .2s;
	border-radius: .1em;
	margin-top: .5em;
	border: 1px solid $cg;
	&:hover{
		background-color: lighten(#000, 97%);
	}

}
.entry{
	.data{
		word-wrap: break-word;
		a{
			@include underline;
		}
		h1{
			font-weight: bold;
		}
		h2{
			font-weight: bold;
		}
		h3,h4,h5,h6{
			font-weight: bold;
		}
		img{
			margin: 2em 0 1em;
			max-width: 100% !important;
			height: auto;
		}
		iframe{
			max-width:100%;
		}
		hr{
			height: 0;
			margin: 0;
			padding: 0;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: #000;
		}
		ul{
			margin-left: 1.3em;
			li{list-style: disc outside;}
		}
		ol{
			margin-left: 1.3em;
			li{list-style: decimal outside;}
		}
		em{
			font-style: italic;
		}
		blockquote{
			color: #999;
			padding-left: 4em;
			position: relative;
			font-weight: bold;
			&::after{
				content:'';
				background: #999;
				width: 3em;
				height: 1px;
				position: absolute;
				top: 0.8em;
				left: 0;
			}
		}
		p,div,ul,ol,hr,table{
			margin-top: 1em;
		}
		h1,h2,h3,h4,h5,h6{
			margin-top: 3em;
			line-height: 1.6;
		}
		table{
			th,td{
				border: 1px solid #cccccc;
				padding: .3em;
			}
			th{
				font-weight: bold;
			}
		}
		.wp-caption{
			margin-top: 2em;
			max-width: 100%;
			img{
				width: 100%;
				height: auto;
				margin: 0;
			}
			p{
				margin: 0.5em 0 0;
			}
		}
		.aligncenter {
			display: block;
			margin: 0 auto;
		}
		.imageblock{
			text-align: center;
		}
	}
}
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
