@charset "utf-8";

.keishou-bank-box{
	margin-top: 1.5em;
	display: table;
	border-collapse:collapse;
	width: 100%;
	&+.keishou-bank-box{
		margin-top: 1em;
	}
	dl{
		display: table-row;
	}
	dt,dd{
		display: table-cell;
		border: 1px solid #000;
		padding: .2em .5em;
	}
	dt{
		padding-right: 2em;
		background-color: $cg;
		white-space: nowrap;
	}
}

.keishou-adult,
.keishou-young{
	padding: 15px 0 0 105px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.keishou-adult{
	background-image: url(../img/common/icon-adult.svg);
}
.keishou-young{
	margin-top: 1em;
	background-image: url(../img/common/icon-young.svg);
}

.open{
  .icon{
    background-image: url(../img/common/icon-cons-open.svg);
  }
}
.staff{
  .icon{
    background-image: url(../img/common/icon-cons-staff.svg);
  }
}
.uriage{
  .icon{
    background-image: url(../img/common/icon-cons-uriage.svg);
  }
}
.keishousha{
  .icon{
    background-image: url(../img/common/icon-cons-keishousha.svg);
  }
}

.cons-list{
  padding: calc(2.8em + .1vw) 0 calc(3.0em + .1vw);
  background-color: $cg;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: calc(25% - 10px);
      margin: 5px;
      background-color: #fff;
    }
  }
  a{
    display: block;
    color: #000;
    height: 100%;
    padding: 0 3vw;
    text-decoration: none;
		transition: all .2s ease;
		&:hover{
			background-color: #f9f9f9;
		}
    span{
      display: block;
    }
    span:first-child{
      padding-top: 110px;
      background-position: 50% 35px;
      background-repeat: no-repeat;
      background-size: 60px auto;
      font-size: 2rem;
      text-align: center;
    }
    span:last-child{
      margin-top: 1em;
      font-size: 1.2rem;
			padding-bottom: 2em;
    }
  }
}
.under-header+.cons-list{
  padding-top: 0;
}

.cons-nav{
  padding: 1.2em 5vw 1em 5vw;
	background-color: #f6f6f6;
	text-align: center;
  ul{
    li{
      display: inline-block;
    }
  }
  a{
    display: block;
    color: #000;
    padding-left: 2em;
    text-decoration: none;
		transition: opacity .2s ease;
		&:hover{
			opacity: .6;
		}
    span{
      display: inline-block;
    }
    span:first-child{
      padding-left: 30px;
      background-position: 0 30%;
      background-repeat: no-repeat;
      background-size: 20px auto;
    }
  }
}
