@charset "utf-8";

// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 200;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
// }
//
// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 400;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
// }
//
// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 500;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
// }
// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 700;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
// }



// @font-face {
//   font-family: 'Noto Serif Japanese';
//   font-style: normal;
//   font-weight: 100;
//   src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifCJKjp-ExtraLight.otf) format('opentype');
// }
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifJP-Regular.woff) format('woff');
 }
// @font-face {
//   font-family: 'Noto Serif Japanese';
//   font-style: normal;
//   font-weight: 500;
//   src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifCJKjp-Medium.otf) format('opentype');
//  }
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifJP-SemiBold.woff) format('woff');
 }
// @font-face {
//    font-family: 'Noto Serif Japanese';
//    font-style: normal;
//    font-weight: 700;
//   src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifCJKjp-Bold.otf) format('opentype');
//  }
// @font-face {
//   font-family: 'Noto Serif Japanese';
//   font-style: normal;
//   font-weight: 900;
//   src: url(../fonts/NotoSerifCJKjp/subset/NotoSerifCJKjp-Black.otf) format('opentype');
//  }


// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 400;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
// }
//
// @font-face {
//   font-family: 'Noto Sans JP';
//   font-style: normal;
//   font-weight: 700;
//   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
//        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
// }

// $ffjp1: 'Noto Sans JP', sans-serif;
$ffjp1: "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
$ffjp2: "Noto Serif Japanese", serif;
$ffen1: 'Playfair Display', serif;
