@charset "utf-8";

#site-footer{
  text-align: center;
	.book-content{
		background-color: lighten($cg, 6%);
		padding: 3.5em 0;
		.inner{
		}
		.box1{
			display: flex;
			justify-content: space-between;
		}
		h2 {
			font-weight: bold;
			font-size: 1.5em;
			margin-bottom: 2.2em;
			line-height: 1.4;
			span{
				display: inline-block;
				border-bottom: 1px solid #000;
				padding-bottom: .6em;
			}
		}
	}
	.book-wrap {
		width: 48%;
	  display: flex;
	  justify-content: space-between;
	  // align-items: center;
		// flex-direction: row-reverse;
	  flex-wrap: wrap;
		// margin-top: 7em;
		// +.book-wrap{
		// 	margin-top: 3em;
		// }
	  .img {
	    width: 105px;
	    text-align: center;
			span{
				display: block;
				margin-top: .5em;
			}
	  }
	  // .btn {
	  //   padding-top: 1em;
	  // }
		.btn{
			width: 90px;
		}
	  .img img.book {
	    width: 100%;
	  }
	  .txt {
	    width: calc(100% - 125px);
			text-align: left;
	    h3 {
	      font-weight: bold;
	      font-size: 1.1em;
	      margin-bottom: .5em;
				line-height: 1.8;
	    }
	    p {
	      margin-bottom: 1em;
				font-size: .9em;
	    }
	  }
		.link{
			display: none;
		}
	}
	.box-1{
    padding: 3em 0 2em;
    text-align: center;
    img{
      width: 50%;
      max-width: 458px;
    }
  }
  .box-2{
    padding: 3vw 0 3vw;
    background-color: $cg;
    img{
      width: 20%;
      max-width: 200px;
    }
  }
  .copyright{
    margin-top: 1vw;
    font-size: 1.4rem;
  }
}
