@charset "utf-8";

body.greeting{
  #contents{
    padding-bottom: 5vw;
  }
  .main-text{
    font-size: 1.8rem;
    p+p{
      margin-top: 1em;
    }
    .name{
      text-align: right;
    }
  }
  .profile{
    margin-top: 3em;
    h2{
      display: inline-block;
  		background-color: #000;
  		color: #fff;
  		padding: .7em 1em .6em 1em;
  		font-size: 1.8rem;
  		font-weight: 600;
  		min-width: 10em;
  		line-height: 1;
      margin-bottom: 1.5em;
    }
    p+p{
      margin-top: 1em;
    }
  }
}
