@charset "utf-8";

#site-header{
  .shop-name{
    a{
      background-image: url(../img/common/logo.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-decoration: none;
    }
  }
  .global-nav{
    a{
      text-decoration: none;
      color: #000;
      font-weight: 500;
    }
  }
}
