@charset "utf-8";
body.home{
  #wrapper{
    background: url(../img/home/visual.jpg) 50% 0 no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
  }
  #contents{
    padding-top: 42%;
    section{
      // background-color: #fff;
      h2,h3{
        text-align: center;
        font-weight: 600;
        letter-spacing: .1em;
      }
      h2{
        font-size: 3.2rem;
        font-size: calc(2.5rem + .3vw);
      }
      h3{
        margin-top: 1em;
        font-size: 2rem;
        font-size: calc(1.4rem + .3vw);
      }
      header{
        margin-bottom: calc(1.5em + 1vw);
      }
    }
  }
  .semi-list2{
    background: url(../img/home/visual2.jpg) 50% 0 no-repeat;
    background-size: 100% auto;
    padding-top: 25%;
		.semi-ttl{
			text-align: left !important;
		}
    .wrap{
      background-color: #fff;
      padding-top: calc(2em + .1vw);
    }
		.semi-news{
			margin-top: 0;
		}
  }

}
