@charset "utf-8";

.text-header{
  margin-bottom: calc(2em + 1vw);
  h1{
    text-align: center;
    span{
      display: block;
    }
    span:first-child{
      letter-spacing: 1px;
      font-size: 4rem;
    }
    span:last-child{
      letter-spacing: 1px;
      margin-top: .2em;
      font-size: 2rem;
      font-family: $ffen1;
    }
	}
}
.btn-app{
	display: flex;
	align-items: center;
}
