#errMsg {
  border: 2px solid #c00;
  padding: 15px;
  background: #fff;
	margin-top: 2em;
  li{
    color: #c00;
    font-weight: bold;
    line-height: 140%;
  }
}
.mailform{
  .mailto{
    margin-bottom: 1em;
    a{
      font-size: 3.2rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  .ttl-4{
    font-size: 1.8rem;
  }
  .txt-conf{
    display: none;
  }
  .name-box{
    margin-top: 3em;
  }
  form{
    display: block;
    max-width: 900px;
    margin: 0 auto;
  }
  dl{
    display: table;
    width: 100%;
    dt,dd{
      display: table-cell;
      vertical-align: top;
    }
    dt{
      font-weight: bold;
      width: 14em;
    }
    &+dl{
      margin-top: 3.5em;
    }
  }
  .hissu{
		dt{
			span{
				position: relative;
				display: inline-block;
				padding-right: 3.5em;
		    &::after{
		      content: '必須';
		      position: absolute;
		      top: .2em;
		      right: 0;
		      color: #fff;
		      background: #cc0000;
		      font-size: 1.2rem;
		      padding: .5em .6em .3em .6em;
		      line-height: 1;
		      display: inline-block;
		      @include font-smoothing(0);
		    }
			}
		}
  }
  .box{
  }
  .box+.box{
    margin-top: .8em;
  }
  label{
    display: inline-block;
    white-space: nowrap;
    span{
      display: inline-block;
    }
    +label{
      margin-left: 1.5em;
    }
  }
  textarea,
  input[type='email'],
  input[type='text']{
    padding: .6em .5em .5em .5em;
		line-height: 1;
    background-color: #ededed;
    border: none;
    width: 60%;
  }
  ::-webkit-input-placeholder{
    color: #666666;
  }
  :-ms-input-placeholder{
    color: #666666;
  }
  ::-moz-placeholder{
    color: #666666;
  }
  .name-box{
    label{
      span:first-child{
        width: 3em;
      }
      .error{
        margin-left: .3em;
      }
    }
    input{
      width: 12em;
    }
  }
  .organization-box{
    input{
      width: 95%;
      //width: calc(100% - 1em);
    }
  }
  .address-box{
		input[type="text"]{
      width: 20%;
			+input[type="text"]{
	      width: 65%;
	    }
    }
    select{
      box-sizing: border-box;
      text-align: left;
      padding: .3em 3.0em .3em .7em;
      border: 1px solid #d6d6d6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #ededed url(../img/mailform/arrow-select.svg) 93% 50% no-repeat;
      background-size: 14px auto;
      border: none;
      border-radius: 0;
    }
  }
  .tel-box{
  }
  .fax-box{
  }
  .email-box{
  }
  .naiyou-box{
    .naiyou-box-in{
      margin-bottom: 1em;
    }
    .naiyou_chk{
      margin-right: .5em;
    }
		label{
			margin: 0 1.5em .5em 0 !important;
		}
    input[type="checkbox"]{
      margin-right: .5em;
    }
    input[type="text"]{
      margin-left: .5em;
    }
    textarea{
      width: 95%;
    }
    div{
      // margin-top: .5em;
    }
  }
  .btn-box{
    border-top: 1px solid #cccccc;
    margin-top: 3em;
    padding-top: 3em;
    text-align: center;
    .in{
    }
    a{
			width: 60%;
    }
    .back{
			width: 32%;
      margin-right: 1em;
    }
  }
}
.complete{
  .mailform{
    margin: 0 0 4%;
    .complete-txt{
      min-height: 32vh;
      p+p{
        margin-top: 1em;
      }
    }
  }
}
.confirm{
  .mailform{
    margin-top: 0;
    .box{
      padding-left: 0;
    }
    label span,
    .hissu::after,
    .txt-input,
    .ttl-4{
      display: none;
    }
    .txt-conf{
      display: block;
    }
    label{
      +label{
        margin-left: .5em;
      }
    }
    dl{
      &+dl{
        margin-top: 2em;
      }
    }
    .naiyou-box{
      div+div{
        margin-top: .5em;
      }
    }
  }
}
