@charset "utf-8";

@mixin font-smoothing($on) {
	@if $on == 1{
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	@else{
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}


@mixin mobinner {
	padding-left: 15px;
	padding-right: 15px;
}

@mixin clearfix {
		&:after {
			content: ".";
			display: block;
			clear: both;
			height: 0;
			visibility: hidden;
		}
}

@mixin box-sizing($type)
{
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
}

@mixin underline {
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}

}
@mixin font-size($size: 14) {
	font-size: $size + px;
	font-size: ($size / 10)  + rem;
}

@mixin hover-opacity($sec, $opacity) {
	transition: opacity $sec+s ease;
	&:hover{
		opacity: $opacity;
	}
}

@mixin opacity($opacity) {
	opacity: $opacity;
}

@mixin module-triangle($size: 8px, $color: #000, $side: top, $position: 50%, $direction: regular) {
  position: relative;
  &::before {
    content: "";
    border: solid transparent;
    display: inline-block;
    position: absolute;
    border-width: $size;
    @if $direction == reverse {
      @if $side == top {
        border-bottom-color: $color;
        margin-left: -$size;
        left: $position;
        bottom: -($size * 2);
      }
      @elseif $side == right {
        border-left-color: $color;
        margin-top: -$size;
        left: -($size * 2);
        top: $position;
      }
      @elseif $side == bottom {
        border-top-color: $color;
        margin-left: -$size;
        left: $position;
        top: -($size * 2);
      }
      @else {
        border-right-color: $color;
        margin-top: -$size;
        right: -($size * 2);
        top: $position;
      }
    }
    @else {
      @if $side == top {
        border-bottom-color: $color;
        margin-left: -$size;
        left: $position;
        top: -($size * 2);
      }
      @elseif $side == right {
        border-left-color: $color;
        margin-top: -$size;
        right: -($size * 2);
        top: $position;
      }
      @elseif $side == bottom {
        border-top-color: $color;
        margin-left: -$size;
        left: $position;
        bottom: -($size * 2);
      }
      @else {
        border-right-color: $color;
        margin-top: -$size;
        left: -($size * 2);
        top: $position;
      }
    }
  }
}
