@charset "utf-8";

.mo-btn-1{
  a,span{
		text-decoration: none;
		display: inline-block;
		padding: 1em 0 1.2em;
		text-align: center;
		background-color: #051439;
		color: #fff;
		font-size: 2rem;
		font-weight: 600;
		// max-width: 300px;
    transition: all .3s ease;
    text-align: center;
		letter-spacing: .1em;
    &:hover{
      background-color: darken(#051439, 5%);
    }
  }
}

.mo-link-mg{
	display: inline-block;
	padding: .3em 0 .3em 2.2em;
	background: url(../img/common/icon-gm.svg) 0 50% no-repeat;
	background-size: 2em auto;
}
.works-link{
  margin-top: 2.5em;
  text-align: center;
  a{
    display: inline-block;
    text-decoration: none;
    padding: 1em 2em;
    color: #000;
    border: 2px solid #e9e9e9;
    @include font-smoothing(0);
		transition: all .3s;
		&:hover{
			background-color: #f8f8f8;
		}
  }
}
