@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
li{list-style:none;}
img{vertical-align:top;}
div,li,h1,h2,h3,h4,h5,h6,header,footer,section{@include box-sizing(border-box);}
html{
	font-size: 62.5%;
	height: 100%;
}
body {
	background: #fff;
	color: #000;
	//letter-spacing: 0.5px;
	font-family: $ffjp2;
	font-weight: 400;
	@include font-smoothing(1);
}
i{
	font-style: normal;
}
p,li,dl{
	line-height: 1.9;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.6;
}
a{
	text-decoration: underline;
	color: #161824;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	*{outline: none;}
	img{outline: none;}
	&:hover{
		text-decoration: none;
	}
}
::selection {
	background: #d5d3d2;
}
::-moz-selection {
	background: #d5d3d2;
}
