@charset "utf-8";


body.seminar{
  .under-header{
    h1{
      font-size: 3.3rem;
			font-size: calc(1.9rem + 1vw);
    }
		span{
			display: inline-block;
			padding-left: 0;
		}
    // span{
    //   display: inline-block;
    //   position: relative;
    //   padding-left: 55px;
    // }
    // i{
    //   font-style: normal;
    //   font-size: 1.8rem;
    //   display: block;
    // }
    // .icon{
    //   width: 38px;
    //   height: 38px;
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   transform: translateY(-55%);
    // }
  }
	.semi-list2{
		padding-top: 1em;
	}
}
.chuuigaku{
	.icon{
    fill: #391a07;
  }
}
.biyou{
  .icon{
    fill: #ee86f7;
  }
}
.keiei{
  .icon{
    fill: #f4a600;
  }
}
.shokuyoujyou{
  .icon{
    fill: #c9272a;
  }
}
.kanpouyaku{
  .icon{
    fill: #7f0ae3;
  }
}
.mental{
  .icon{
    fill: #3596c1;
  }
}
.counseling{
  .icon{
    fill: #88e200;
  }
}
.semi-txtlist-1{
	li+li{
		margin-top: .5em;
	}
}
.semi-movie{
	margin: 0 auto 4em;
	max-width: 560px;
	div{
		padding-top: 56.25%;
		position: relative;
	}
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	p{
		text-align: center;
		font-weight: bold;
		margin: 1em 0 .5em;
	}
}
.semi-movie-label{
	margin-top: 1.5em;
	font-family: $ffjp1;
	.label{
		background-size: 20px auto;
		background-repeat: no-repeat;
		background-position: 15px 50%;
		font-size: 1.3rem;
		font-weight: bold;
		display: inline-block;
		padding: 1.1em 1.5em 1.1em 50px !important;
		background-color: #fff;
		border: 1px solid #000;
		color: #000;
		border-radius: 2px;
		line-height: 1;
		letter-spacing: 1.5px;
		text-decoration: none;
		transition: all .3s;
		&:hover{
			background-color: #e2e2e2;
		}
		&.movie{
			background-image: url(../img/common/iconmonstr-video-camera-1.svg);
		}
		&.online{
			background-image: url(../img/common/iconmonstr-stream-1.svg);
		}
	}
	.note{
		line-height: 1.2;
		font-size: 1.4rem;
		display: inline-block;
		margin-left: .5em;
	}
}
.semi-price-note{
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.4rem;
}

.semi-schedule-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	>div{
		width: 47%;
	}
	.col1{
		width: 100%;
		+.col1{
			margin-top: 2em;
		}
	}
	.semi-time{
		margin-top: 1.5em;
	}
	.semi-schedule-list{
		margin: 1.5em 0 0;
		display: table;
		width: 100%;
		border-top: 1px solid $cg;
		dl{
			display: table-row;
		}
		dt,dd{
			display: table-cell;
			border-bottom: 1px solid $cg;
			padding: .6em 0 .5em;
			vertical-align: middle;
		}
		dt{
			font-weight: 600;
			padding-right: 1.5em;
			span{
				display: block;
				font-size: 87%;
				font-weight: normal;
			}
		}
		dd{
			text-align: center;
			+dd{
				padding-left: .5em;
			}

		}
		dd+dt{
			margin-top: .9em;
		}
	}
	+.list1{
		margin-top: 2em;
	}
}

.semi-news{
	margin-bottom: 3em;
	// padding-top: 30px;
	padding-bottom: 30px;
	h2{
	}
	dl{
		// display: flex;
		// flex-wrap: wrap;
		border-left: 1px solid #000;
		padding-left: 2em;
		margin-top: 0;
		+dl{
			margin-top: 2.5em;
		}
		dt{
			// width: 6em;
			font-size: 1.4rem;
		}
		dd{
			// width: calc(100% - 6em);
			box-sizing: border-box;
			margin-top: .3em;
			p{
				margin-top: 0;
			}
			p+p{
				margin-top: .5em;
			}
		}
		&.new{
			dt{
				&::before{
					content: 'NEW';
					background: red;
					color: #fff;
					font-size: 1.1rem;
					display: inline-block;
					padding: .6em .5em .5em;
					line-height: 1;
					font-weight: bold;
					font-family: $ffjp1;
					margin-right: .7em;
				}
			}
			dd{
				// width: calc(100% - 9.5em);
			}
		}
	}
	.mo-btn-1{
		margin-top: 2em;
		text-align: center;
		a{
			padding: 1em;
			font-size: 1.4rem;
		}
	}
}

.semi-ttl{
	text-align: left;
	margin-bottom: 2.5em;
	span{
		font-size: 2rem;
		font-weight: bold;
		display: inline-block;
		padding-bottom: .7em;
		border-bottom: 1px solid #000;
	}
	i{
		margin-left: 2em;
		// color: #fff;
		font-size: 1.3rem;
		font-family: $ffjp1;
		display: inline-block;
		// background-color: $cg;
		padding: .7em .7em;
		vertical-align: -5px;
		border: 1px solid #000;
	}
}
.semi-ttl2{
	margin-bottom: 3.5em;
	text-align: center;
	span{
		display: inline-block;
		color: $cr;
		font-weight: bold;
		padding: 1em .5em;
		border-bottom: 2px solid $cr;
		border-top: 2px solid $cr;
	}
}

.semi-list2{
  .semi-box{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
		background-size: 15px 2px;
		background-position: bottom;
		background-repeat: repeat-x;
		padding-bottom: 3em;
		&+.semi-box{
			margin-top: 3em;
		}
		&:last-child{
			background: none;
			padding-bottom: 4em;
		}
  }
	.box{
		width: calc(100% - 240px);
	}
	.btn{
		width: 200px;
	}
  .mi{
    font-size: 2.2rem;
    font-weight: 600;
  }
	.status{
		display: block;
		margin-bottom: .2em;
	}
  .icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
  }
  .txt{
    margin-top: .6em;
  }
  .txt2{
		display: inline-block;
    font-size: 1.4rem;
		margin-top: .5em;
  }
  .btn{
    a{
			display: block;
      padding: 1.6em 0 1.5em;
      text-align: center;
      background-color: #fff;
      line-height: 1;
      font-weight: 600;
      max-width: 200px;
      color: #fff;
      text-decoration: none;
      background-color: #000;
			span{
				display: inline-block;
				position: relative;
				padding-right: 2em;
				&::after{
					transition: all .2s ease;
	      	content: '';
	      	position: absolute;
	      	top: 50%;
	      	right: 5px;
	      	width: .6em;
	      	height: .6em;
					margin-top: -.1em;
	        border-top: 1px solid #fff;
	        border-right: 1px solid #fff;
	        transform: rotate(45deg) translateY(-50%);
	      }
			}
			&:hover{
				span::after{
					right: 0;
				}

			}
    }
  }
}

.semi-schedule-date{
	font-size: 1.8rem;
	+.semi-schedule-date{
		margin-top: 1em;
	}
	h3{
		span{
			&:first-child{
				font-weight: bold;
				margin-right: .5em;
			}
		}
	}
	ul{
		margin-top: .5em;
		li{
			display: inline-block;
			margin-right: .5em;
		}
	}
}

.semi-sec-detail{
	margin-top: 4em;
	padding-left: 2em;
	.semi-ttl{
		margin-left: -2em;
		margin-bottom: 2.5em;
	}
	.list1{
		margin-top: 1em;
	}
	.price{
		font-size: 1.8rem;
		span{
			font-size: 1.2rem;
		}
	}
	.price-dl{
		dt,dd{
		}
		dt{
			font-weight: bold;
		}
		dd{
			margin-left: 2em;
			+dt{
				margin-top: .5em;
			}
		}
	}
}
.semi-naiyou{
	display: flex;
	flex-wrap: wrap;
	margin-top: -.5em;
	dt{
		width: 4.5em;
	}
	dd{
		width: calc(100% - 5em);
	}
	dt,dd{
		margin-top: .5em;
	}
	+h3{
		margin: 1em 0 .5em;
	}
}

.semi-data{
	margin-top: 4em;
	border-top: 1px solid $cg;
	th,td{
		text-align: left;
		vertical-align: middle;
		border-bottom: 1px solid $cg;
	}
	th{
		white-space: nowrap;
		background-color: $cg;
		padding: 1.5em 2em;
	}
	td{
		padding: 1.5em;
	}
	tr+tr{
		th,td{
		}
	}
	.note1{
		margin-top: .5em;
		font-size: 1.3rem;
		padding-left: 1.2em;
		position: relative;
		&::after{
			content: '＊';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.semi-sec-note{
	margin-top: 4em;
	padding: 2em 2.2em;
	border: 2px solid $cg;
	font-size: 1.4rem;
	h2{
		font-weight: bold;
		margin: .5em;
	}
	.box{
		+.box{
			margin-top: 1em;
		}
	}
}

.semi-btn-entry{
	margin-top: 5em;
	a{
		margin: 0 auto;
		display: block;
		padding: 1.6em 0 1.5em;
		text-align: center;
		background-color: #fff;
		line-height: 1;
		font-weight: 600;
		max-width: 400px;
		color: #fff;
		text-decoration: none;
		background-color: #051439;
		transition: all .2s ease;
		span{
			display: inline-block;
			position: relative;
			padding-right: 2em;
			&::after{
				content: '';
				position: absolute;
				top: 50%;
				right: 0px;
				width: 16px;
				height: 16px;
				transform: translateY(-50%);
				background: url(../img/common/iconmonstr-window-14.svg) 0 0 no-repeat;
				background-size: 100% auto;
			}
		}
		&:hover{
			background-color: darken(#051439, 10%);
		}
	}
}
.semi-nav2{
	padding: 1em 0;
	background-color: #f6f6f6;
	font-size: 1.5rem;
  a{
		display: inline-block;
    text-decoration: none;
		position: relative;
		padding-left: 1.2em;
		&::after{
			transition: all .2s ease;
			content: '';
			position: absolute;
			top: 50%;
			left: 5px;
			width: .4em;
			height: .4em;
			margin-top: -.1em;
			border-top: 1px solid #000;
			border-left: 1px solid #000;
			transform: rotate(-45deg) translateY(-50%);
		}
		&:hover::after{
			left: 0;
		}
  }
}

// .semi-nav2{
// 	padding: 3em 0;
// 	background-color: #f6f6f6;
// 	font-size: 1.4rem;
// 	p{
// 		font-weight: bold;
// 	}
//   ul{
// 		display: flex;
// 		margin-top: .5em;
// 		+p{
// 			margin-top: 2em;
// 		}
//   }
//   li{
// 		margin-right: 1.5em;
// 		+li{
//
// 		}
//   }
//   a{
// 		display: inline-block;
//     text-decoration: none;
// 		position: relative;
// 		padding-left: 1.3em;
// 		&::after{
// 			transition: all .2s ease;
// 			content: '';
// 			position: absolute;
// 			top: 50%;
// 			left: 0;
// 			width: .4em;
// 			height: .4em;
// 			margin-top: -.2em;
// 			border-top: 1px solid #000;
// 			border-right: 1px solid #000;
// 			transform: rotate(45deg) translateY(-50%);
// 		}
// 		span{
// 			display: inline-block;
// 		}
// 		&:hover{
// 			span{
// 				text-decoration: underline;
// 			}
// 		}
//   }
//
// }

.semi-nav{
  padding: 1em 5vw;
	background-color: #f6f6f6;
	text-align: center;
  ul{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
  li{
    text-align: left;
    line-height: 1.3;
    +li{
      margin-top: .8em;
    }
  }
  a{
    padding: 3px 0 3px 30px;
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: none;
  }
  .icon{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}



.semi-list{
  .sec+.sec{
    margin-top: 30px;
  }
  .semi-box{
    // padding: 0 40px;
    border: 3px solid $cg;
    border-radius: 5px;
    position: relative;
    // height: 100%;
    // &::after{
    // 	content: '';
    // 	position: absolute;
    // 	top: 0;
    // 	left: 0;
    // 	width: 100%;
    // 	height: 14px;
    // 	background-color: #7f0ae3;
    //   border-radius: 5px 5px 0 0;
    // }

  }
  section{
    padding: 0 40px;
  }
  .mi{
    margin-top: 70px;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    padding-left: 50px;
    span{
      font-size: 1.4rem;
      display: block;
    }
		.box{
			display: flex;
			align-items: center;
			width: 100%;
		}
		.new{
			background-color: #ff0000;
			display: inline-block;
			color: #fff;
			font-weight: bold;
			padding: .6em .5em .3em;
			font-size: 1.2rem;
			margin-right: .8em;
			vertical-align: 2px;
			line-height: 1;
		}
  }
  .icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
  }
  .txt{
    margin-top: 1.6em;
  }
  .txt2{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    padding: .5em .8em .4em;
    text-align: center;
    font-size: 1.4rem;
    background-color: $cg;
		white-space: nowrap;
    &.end{
    }
  }
  .btn{
    padding-top: 120px;
    a{
      position: absolute;
      bottom: 30px;
      left: 50%;
      display: block;
      padding: 1em 0;
      text-align: center;
      background-color: #fff;
      line-height: 1;
      transform: translateX(-50%);
      font-weight: 600;
      width: 80%;
      max-width: 300px;
      color: #fff;
      text-decoration: none;
      background-color: #000;
      &::after{
				transition: all .2s ease;
      	content: '';
      	position: absolute;
      	top: 50%;
      	right: 2em;
      	width: .6em;
      	height: .6em;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-58%);
      }
			&:hover::after{
				right: 1.5em;
			}
    }
  }
}
