@charset "utf-8";
.under{
}
.under-header{
	background-color: $cg;
	span{
		padding-left: 1.5em;
	}
	.icon{
		padding-top: .3em;
		padding-bottom: .2em;
		background-position: 0 50%;
		background-repeat: no-repeat;
		background-size: auto 1.2em;
	}
	h1{
		letter-spacing: 1px;
		line-height: 1.6;
	}
}
.under-read{
	p,ul{
		margin-top: .8em;
	}
	:first-child{
		margin-top: 0;
	}
}
.under-read2{
	margin-top: 1.5em;
	font-weight: bold;
	span{
		font-size: 1.4rem;
	}

}
.under-inner{
	margin: 0 auto;
	padding: 4em 5vw 5em;
}
.under-sec{
	margin-top: 3em;
	h3,dl,p,ul,ol,table{
		margin-top: 1.5em;
	}
	h3+*{
		margin-top: .5em;
	}
	.ttl1{
		display: inline-block;
		background-color: #000;
		color: #fff;
		padding: .7em 1em .6em 1em;
		font-size: 1.8rem;
		font-weight: 600;
		// min-width: 10em;
		line-height: 1;
	}
	.ttl2{
		font-size: 1.8rem;
		font-weight: 600;
	}
	.ttl3{
		font-size: 2rem;
		font-weight: 600;
		padding-left: 2em;
		position: relative;
		span{
			font-size: 1.7rem;
		}
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			bottom: 0;
			left: 0;
			width: 1em;
			height: 1px;
			background: #000;
			margin-top: -1px;
		}
	}
	.dl1{
		dt{
			font-size: 1.7rem;
			font-weight: 600;
		}
		dd{
			border-bottom: 1px solid $cg;
			padding-bottom: 1em;
			margin-top: .5em;
		}
		dd+dt{
			margin-top: .9em;
		}
	}
	.note1{
		margin-top: 1.2em;
		font-size: 1.4rem;
	}
	p.note1{
		margin-top: .2em;
	}
	.price{
		font-size: 1.8rem;
		span{
			font-size: 1.2rem;
		}
	}
	.price-dl{
		dt,dd{
		}
		dt{
			font-weight: bold;
		}
		dd{
			margin-left: 2em;
			+dt{
				margin-top: .5em;
			}
		}
	}
	.tbl1{
		th,td{
			text-align: left;
			vertical-align: middle;
		}
		th{
			white-space: nowrap;
		}
		td{
			padding-left: 1em;
		}
		tr+tr{
			th,td{
				padding-top: .5em;
			}
		}
	}
	.box1{
		border-left: 6px solid $cg;
		padding-left: 1.5em;
		p{
			margin-top: .5em;
		}
	}
	&.box-btn{
		border: 6px solid $cg;
		padding: 3.5vw 3.5vw;
		h2{
			text-align: center;
			font-size: 2.4rem;
			font-weight: 600;
		}
		div,p{
			margin-top: 1.8em;
		}
		.btn{
			text-align: center;
			a{
				text-decoration: none;
				display: inline-block;
				padding: 1em 0 1.2em;
	      text-align: center;
	      background-color: #051439;
				color: #fff;
				font-size: 2rem;
	      font-weight: 600;
				width: 100%;
	      max-width: 400px;
				&:hover{
		      background-color: darken(#051439, 5%);
		    }
			}
		}
	}
}
