@charset "utf-8";
body.works{
  #contents{
    padding-bottom: 5vw;
  }
	.under-inner{
		// padding-top: 2em;
	}
	.works-topnav{
		max-width: 480px;
		margin: 0 auto;
		.item{
			a{
				padding: 1.8em 0;
				display: block;
				font-size: 2.5rem;
				text-decoration: none;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					width: 60px;
					height: 30px;
					background: url(../img/common/icon-arrow-1.svg) 0 0 no-repeat;
					transform: translateY(-50%);
				}
			}
		}
	}
	.works-pagenav{
		margin-top: 5em;
		display: flex;
		justify-content: center;
		.item{
			margin: 0 1em;
		}
		.current{
			text-decoration: none;
			color: #ccc;
		}
	}

	.works-wrap{
		&+.works-wrap{
			margin-top: 5em;
		}
	}

	.works-ttl-1{
		font-size: 3rem;
		margin-bottom: 1.8em;
		text-align: center;
	}
	.works-ttl-2{
		font-size: 2.3rem;
		font-weight: bold;
		margin-bottom: 2.5em;
		text-align: center;
		span{
			display: inline-block;
		}
	}

	.works-box{
    >div{
      text-align: left;
    }
		p+p{
      margin-top: 1em;
    }
  }
  .resultlist{
		margin-top: 1em;
		padding: 1em;
		border: 1px solid #ccc;
		font-size: 1.4rem;
		clear: both;
		dt{
			font-weight: bold;
			margin-bottom: .5em;
		}
		// a{
		// 	color:#000;
		// 	text-decoration: underline;
		// }
	}
  .txt{
  }
  .pic{
    img{
      width: 100%;
    }
  }
}
