.fadein {
  opacity : 0;
  transform : translate(0, 20px);
  transition : all .6s ease-out;
  &.slide-right {
    transform : translate(20px, 0);
    transition-delay: .6s;
  }
  &.slide-left {
    transform : translate(-20px, 0);
    transition-delay: .6s;
  }
}
.fadein{
  &.scrollin{
    opacity : 1;
    transform : translate(0, 0);
  }
}
