@charset "utf-8";

#site-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, .9);
  .shop-name{
    position: absolute;
    left: 30px;
    top: 11px;
    a{
      width: 160px;
      height: 50px;
      background-size: 160px auto;
    }
  }
  .desc{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1;
    margin-top: .6em;
  }
  .global-nav{
    padding: 1.5rem;
    .global-nav-in2{
      display: table;
      margin-left: auto;
      >div{
        display: table-cell;
        vertical-align: middle;
        padding-left: 4vw;
      }
      a{
				transition: color .2s ease;
        span{
          display: block;
        }
        span:first-child{
          font-size: 2rem;
          font-family: $ffen1;
          letter-spacing: .1em;
          margin-bottom: .2em;
        }
        span:last-child{
          font-size: 1.2rem;
          letter-spacing: .1em;
        }
				&:hover{
					color: #7d7d7d;
				}
      }
    }
  }
}
