@charset "utf-8";

@mixin hvr-opacity($num, $duration) {
  transition: opacity $duration ease-out;
  &:hover{
    opacity: $num;
  }
}

@mixin hvr-brightness($num, $duration) {
  transition: all $duration ease-out;
  &:hover{
    filter: brightness($num);
  }
}


/* Sweep To Top */
@mixin sweep-to-top($bgcolor) {
  transform: perspective(1px) translateZ(0);
	position: relative;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    background: $bgcolor;
		transform: scaleY(0);
    transform-origin: 50% 100%;
		transition: transform .3s ease-out;
	}
	&:hover,
	&:focus,
	&:active {
		&:before {
      transform: scaleY(1);
		}
	}
}


/* Rectangle Out */
@mixin rectangle-out($bgcolor) {
	transform: perspective(1px) translateZ(0);
	position: relative;
	transition: background-color .3s ease-out;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $bgcolor;
		transform: scale(0);
		transition: transform .3s ease-out;
	}

	&:hover,
	&:focus,
	&:active {
		&:before {
			transform: scale(1);
		}
	}
}

@mixin border-reversed{

  &::after,
  &::before,
  span::after,
  span::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }

  /* 左上へ配置 */
  &::after {
      height: 1px;
      left: -1px;
      top: -1px;
      width: 0px;
  }
  /* 右下へ配置 */
  &::before {
    bottom: -1px;
    height: 1px;
    right: -1px;
    width: 0px;
  }
  /* 左下へ配置 */
  span::after {
    bottom: -1px;
    height: 0px;
    left: -1px;
    width: 1px;
  }
  /* 右下へ配置 */
  span::before {
    height: 0px;
    right: -1px;
    top: -1px;
    width: 1px;
  }

  /* hover */
  &:hover::after,
  &:hover::before {
    width: 100%;
    width: calc(100% + 1px);
  }
  &:hover span::after,
  &:hover span::before {
    height: 100%;
    height: calc(100% + 1px);
  }
}
