@charset "utf-8";
html{
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
.mobile{
	display: none;
}


.inner{
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1300px;
	margin: 0 auto;
}

#contents{
	// min-width: 1100px;
	// padding-bottom: 70px;
}
