@charset "utf-8";
.under{
	// padding-top: 146px;
	padding-top: 120px;
}
.under-inner{
	max-width: 900px;
	margin: 0 auto;
}
#contents.under-inner{
	padding-top: 0;
}
.under-header{
	margin: 240px 0 0px;
	padding: 100px 0 50px;
	position: relative;
	text-align: center;
	h1{
    font-size: 3.6rem;
		font-size: calc(2.2rem + 1vw);
		font-weight: normal;
	}
	h2{
		margin-top: 2rem;
		font-size: 1.8rem;
	}
}
.under-visual{
	position: absolute;
	top: -240px;
	left: 50%;
	transform: translateX(-50%);
	width: 1000px;
}
