@charset "utf-8";
body.works{
	.works-topnav{
		.item{
			a{
				&::after{
					transition: all .3s;
				}
				&:hover::after{
					right: 0px;
				}
			}
		}
	}
	.works-box{
    display: flex;
		justify-content: space-between;
  }
  .txt{
		width: calc(100% - 390px);
  }
  .pic{
    width: 340px;
		margin-top: .3em;
  }
}
