<section class="semi-sec-note">
	<div class="box">
		<h2>キャンセルポリシー</h2>
		<p>お振込後のキャンセルにつきましては、ご返金は出来かねますのでご了承下さい。</p>
	</div>
	<div class="box">
		<h2>注意事項</h2>
		<ul class="list1">
			<li>主催側の何らかの都合でセミナーの中止が起こった場合は残回のセミナー費は全額返金させていただきます。</li>
			<li>本セミナーに対するご質問等は<a href="/contact/">お問い合わせフォーム</a>からお願いします。</li>
			<li>領収書のご入用の方はお申し付け下さい。封書にてお手元までお送りいたします。</li>
		</ul>
	</div>
</section>
<div class="semi-btn-entry">
	<div class="btn">
		<a href="https://forms.gle/Z8RGuqguTNeZqpZ8A" target="_blank"><span>お申し込みはこちら</span></a>
	</div>
</div>
