<!-- <p class="semi-ttl2"><span>各セミナー受講生募集中</span></p> -->
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">超わかりやすい基礎中医学セミナー</h4>
	  <p class="txt">中医学は漢方のルーツです。 中医学を学ぶことで漢方の使い方も理論からしっかりと理解することができます。 </p>
	</div>
  <div class="btn">
    <a href="/seminar/2019/kiso.html"><span>詳しく見る</span></a>
  </div>
</section>
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">実践的に使える！応用中医学セミナー</h4>
	  <p class="txt">中医学理論の実践的な使い方を学びます。</p>
		<p class="txt2">※<a href="/seminar/2019/kiso.html">基礎中医学セミナー</a>受講が必要です</p>
	</div>
  <div class="btn">
    <a href="/seminar/2019/ouyou.html"><span>詳しく見る</span></a>
  </div>
</section>
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">実践的に使える！方剤解説中医学セミナー</h4>
	  <p class="txt">様々な漢方薬の実践的な使い方を学びます。</p>
		<p class="txt2">※<a href="/seminar/2019/kiso.html">基礎中医学セミナー</a>受講が必要です</p>
	</div>
  <div class="btn">
    <a href="/seminar/2019/houzai.html"><span>詳しく見る</span></a>
  </div>
</section>
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">伸び続ける！店舗実践セミナー</h4>
	  <p class="txt">～1年で安定店に、3年で繁盛店に、5年で大人気店に！経営者も独立起業を考えている人も！～</p>
	</div>
  <div class="btn">
    <a href="/seminar/2019/keiei.html"><span>詳しく見る</span></a>
  </div>
</section>
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">体質別食養生＋基礎カウンセリングスキルセミナー</h4>
	  <p class="txt">皆さん、日々の食生活に問題を感じていませんか？</p>
		<span class="txt2">※動画配信のみ</span>
	</div>
  <div class="btn">
    <a href="/seminar/2019/shokuyoujyou.html"><span>詳しく見る</span></a>
  </div>
</section>
<section class="semi-box">
	<div class="box">
	  <h4 class="mi">体内から美しくなる美容漢方セミナー</h4>
	  <p class="txt">「体の内部から作り出す本物の美」について一緒に学んでみませんか？</p>
		<span class="txt2">※動画配信のみ</span>
	</div>
  <div class="btn">
    <a href="/seminar/2019/biyou.html"><span>詳しく見る</span></a>
  </div>
</section>
