<nav class="semi-nav2">
  <div class="inner">
		<a href="./" class="back">セミナートップに戻る</a>
		<!-- <p>セミナー一覧</p>
    <ul>
			<li><a href="/seminar/2019/kiso.html"><span>超わかりやすい</span><span>基礎中医学セミナー</span></a></li>
			<li><a href="/seminar/2019/ouyou.html"><span>実践的に使える！</span><span>応用中医学セミナー</span></a></li>
			<li><a href="/seminar/2019/houzai.html"><span>実践的に使える！</span><span>方剤解説中医学セミナー</span></a></li>
			<li><a href="/seminar/2019/keiei.html"><span>伸び続ける！</span><span>店舗実践セミナー</span></a></li>
		</ul>
		<p>動画配信</p>
		<ul>
			<li><a href="/seminar/2019/shokuyoujyou.html"><span>体質別食養生＋</span><span>基礎カウンセリングスキル</span></a></li>
			<li><a href="/seminar/2019/biyou.html"><span>体内から美しくなる</span><span>美容漢方</span></a></li>
    </ul> -->
  </div>
</nav>
