<!-- <div class="semi-movie">
	<p><a href="/seminar/movie.html">動画配信セミナー 2018年6月スタート</a></p>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/rVq5VtOzjN0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div> -->
<section class="under-sec semi-news">
	<h2 class="semi-ttl"><span>お知らせ</span></h2>
	<dl class="new">
		<dt>2019.4.7</dt>
		<dd>
			<p class="fb">タクヤ先生の楽しく中医学を学べる四国＆名古屋セミナー</p>
			<p>
				2019年5月19日・20日 、高松・名古屋にて「タクヤ先生の楽しく中医学を学べる四国＆名古屋セミナー」を開講いたします。詳しくは<a href="/assets/pdf/20190519-20.pdf" target="_blank" class="link-pdf">PDF</a>をご覧ください。
				<!-- <br>お申込み受付は終了しました。多数のお申込みありがとうございました。 -->
			</p>
			<p><a href="https://forms.gle/wRN5uW1j53oggGH99" target="_blank" class="link-googleform">お申し込みはこちら</a></p>
		</dd>
	</dl>
	<dl>
		<dt>2019.3.14</dt>
		<dd>
			<p class="fb">タクヤ先生＆櫻井店長コラボセミナー</p>
			<p>2019年4月14日、タクヤ先生＆櫻井店長コラボセミナー 〜これだけで全てわかる！こころとからだの中医学養生セミナー〜 を開講いたします。詳しくは<a href="/assets/pdf/20190414.pdf" target="_blank" class="link-pdf">PDF</a>をご覧ください。</p><p><a href="https://goo.gl/forms/PvlvwTlmQrWqKB042" target="_blank" class="link-googleform">お申し込みはこちら</a></p>
		</dd>
	</dl>
	<dl>
		<dt>2019.2.6</dt>
		<dd>
			<p class="fb">タクヤ先生の楽しく中医学を学べる九州セミナー</p>
			<p>
				2019年3月24日・25日 、福岡にて「タクヤ先生の楽しく中医学を学べる九州セミナー」を開講いたします。詳しくは<a href="/assets/pdf/20190324-25.pdf" target="_blank" class="link-pdf">PDF</a>をご覧ください。<br>お申込み受付は終了しました。多数のお申込みありがとうございました。
			</p>
			<!-- <p><a href="https://goo.gl/forms/GwtZc8MMi0OKWPwU2" target="_blank" class="link-googleform">お申し込みはこちら</a></p> -->
		</dd>
	</dl>
	<dl>
		<dt>2019.1.16</dt>
		<dd>
			<p class="fb">
				タクヤ先生執筆の新しい書籍が販売されました。
			</p>
			<p>
				<a href="https://amzn.to/2SWQ9LD" target="_blank">現場で使える 薬剤師・登録販売者のための漢方相談便利帖 わかる！選べる！漢方薬163</a><br>前著に引き続き漢方についての解説書となりますが、今回の本では国内流通の医療用（病院で処方される漢方薬）のほぼ全ての使い方を初心者でもわかるように丁寧に解説しております。
			</p>
		</dd>
	</dl>
	<dl>
		<dt>2018.11.9</dt>
		<dd>
			<p>
				2019年1月スタートのセミナー募集を開始いたしました！
			</p>
		</dd>
	</dl>
	<!--
	<dl>
		<dt>2018.9.10</dt>
		<dd>
			<p class="fb">まつもと＆タクヤコラボセミナー</p>
			<p>
				７月に開催した「まつもと＆タクヤコラボセミナー」の有料動画配信中です！
			</p>
			<p><a href="https://goo.gl/forms/cY2ms7nC1FLY97kx1" target="_blank" class="link-googleform">お申し込みはこちら</a></p>
		</dd>
	</dl>
	 <dl>
		<dt>2018.7.3</dt>
		<dd>
			<p class="fb">タクヤ先生の定期西日本講演のお知らせ</p>
			<p>
				9月2日、3日、大阪にて「タクヤ先生の定期西日本講演！ 中医学基礎をしっかり楽しくわかりやすく学ぶセミナー　～五臓の働きと基礎食養生～」を開講いたします。詳しくは<a href="/assets/pdf/20180902-03.pdf" target="_blank">PDF</a>をご覧ください。
			</p>
		</dd>
	</dl> -->
	<!-- <dl>
		<dt>2018.4.20</dt>
		<dd>
			<p>動画配信によるセミナー受講がスタートします！<a href="/seminar/movie.html">詳細はこちらから</a></p>
		</dd>
	</dl> -->
	<!-- <dl>
		<dt>2018.4.5</dt>
		<dd>
			<p>7月スタートのセミナー（第三期）の募集が開始されました！</p>
			<p>＊<a href="/seminar/mental.html">メンタル疾患を改善させるための漢方セミナー</a>、<a href="/seminar/counseling.html">実践カウンセリング技術を磨けるセミナー</a>は今期で終了です。</p>
		</dd>
	</dl> -->
	<!-- <dl>
		<dt>2018.3.6</dt>
		<dd>
			<p>5月13日、14日、大阪にて講演いたします。詳しくは<a href="/assets/pdf/20180513-14.pdf" target="_blank">PDF</a>をご覧ください。<br><a href="/assets/pdf/20180513-14.pdf" target="_blank">〜タクヤ先生出版記念＆西日本進出記念講演〜「中医学基礎をしっかり楽しくわかりやすく学ぶセミナー」</a></p>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScPy7QRiAvJOlaFddZPkpxsVIXCVRgTbn0DvA9xY-BG5LO_Ag/viewform" target="_blank">お申し込みはこちら</a><br>フォーム申込みの金額は12,960円（本購入割引あり）です。</p>
		</dd>
	</dl> -->
</section>
