<div class="sec box-col2">
	<div class="box semi-box">
    <section class="chuuigaku">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
				<div class="box">
					<div>
						<span class="new">NEW</span>
					</div>
					<div>
						超わかりやすい基礎中医学セミナー
					</div>
				</div>
      </h4>
      <p class="txt2 end">申し込み受付中</p>
      <p class="txt">どこよりもわかりやすく中医学を学べます！</p>
      <div class="btn">
        <a href="/seminar/chuuigaku.html">詳しく見る</a>
      </div>

    </section>
  </div>
  <div class="box semi-box">
    <section class="keiei">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        伸び続ける！店舗経営実践セミナー
      </h4>
      <p class="txt2 end">次期申し込みを開始しました！</p>
      <p class="txt">～1年で安定店に、3年で繁盛店に、5年で大人気店に！～</p>
      <div class="btn">
        <a href="/seminar/keiei.html">詳しく見る</a>
      </div>
    </section>
  </div>
  <div class="box semi-box">
    <section class="shokuyoujyou">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        体質別食養生＋基礎カウンセリングスキルセミナー
      </h4>
      <p class="txt2">次期申し込みを開始しました！</p>
      <p class="txt">皆さん、日々の食生活に問題を感じていませんか？</p>
      <div class="btn">
        <a href="/seminar/shokuyoujyou.html">詳しく見る</a>
      </div>
    </section>
  </div>
  <div class="box semi-box">
    <section class="biyou">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        体内から美しくなる美容漢方セミナー
      </h4>
      <p class="txt2">次期申し込みを開始しました！</p>
      <p class="txt">「体の内部から作り出す本物の美」について一緒に学んでみませんか？</p>
      <div class="btn">
        <a href="/seminar/biyou.html">詳しく見る</a>
      </div>
    </section>
  </div>
  <div class="box semi-box">
    <section class="kanpouyaku">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        <span>〜登録販売者・薬剤師向け〜</span>面白いほど漢方薬の使い方がわかるセミナー
      </h4>
      <p class="txt2">次期申し込みを開始しました！</p>
      <p class="txt">漢方薬の正しい使い方をしっかり学べます！</p>
      <div class="btn">
        <a href="/seminar/kanpouyaku.html">詳しく見る</a>
      </div>
    </section>
  </div>
  <div class="box semi-box">
    <section class="mental">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        メンタル疾患を改善させるための漢方セミナー
      </h4>
      <p class="txt2">申し込み受付中</p>
      <p class="txt">前向きに人生を楽しむ内容となっております。</p>
      <div class="btn">
        <a href="/seminar/mental.html">詳しく見る</a>
      </div>
    </section>
  </div>
  <div class="box semi-box">
    <section class="counseling">
      <h4 class="mi">
        <svg class="icon"><use xlink:href="/assets/img/common/ico-semi.svg#ico-semi"/></svg>
        実践カウンセリング技術を磨けるセミナー
      </h4>
      <p class="txt2">申し込み受付中</p>
      <p class="txt">漢方薬の正しい使い方をしっかり学べます！</p>
      <div class="btn">
        <a href="/seminar/counseling.html">詳しく見る</a>
      </div>
    </section>
  </div>
</div>
