<!-- <div class="semi-movie">
	<p><a href="/seminar/movie.html">動画配信セミナー 2018年6月スタート</a></p>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/rVq5VtOzjN0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div> -->
<section class="under-sec semi-box semi-news">
	<h2>お知らせ</h2>
	<dl>
		<dt>2018.9.10</dt>
		<dd class="new">
			<p class="fb">まつもと＆タクヤコラボセミナー</p>
			<p>
				７月に開催した「まつもと＆タクヤコラボセミナー」の有料動画配信中です！
			</p>
			<p><a href="https://goo.gl/forms/cY2ms7nC1FLY97kx1" target="_blank">お申し込みはこちら</a></p>
		</dd>
	</dl>
	<dl>
		<dt>2018.8.21</dt>
		<dd>
			<p class="fb">タクヤ先生＆櫻井店長コラボセミナー</p>
			<p>
				8月19日、大盛況のうちに終了いたしました「タクヤ先生＆櫻井店長コラボセミナー」を有料動画配信中です。
			</p>
			<p><a href="https://goo.gl/forms/kpMV9fFTUty6s2p03" target="_blank">お申し込みはこちら</a></p>
		</dd>
	</dl>
	<dl>
		<dt>2018.7.3</dt>
		<dd>
			<p class="fb">タクヤ先生の定期西日本講演のお知らせ</p>
			<p>
				9月2日、3日、大阪にて「タクヤ先生の定期西日本講演！ 中医学基礎をしっかり楽しくわかりやすく学ぶセミナー　～五臓の働きと基礎食養生～」を開講いたします。詳しくは<a href="/assets/pdf/20180902-03.pdf" target="_blank">PDF</a>をご覧ください。
				<!-- <br><a href="/assets/pdf/2018902-03.pdf" target="_blank">タクヤ先生の定期西日本講演！ 中医学基礎をしっかり楽しくわかりやすく学ぶセミナー　～五臓の働きと基礎食養生～</a> -->
			</p>
			<!-- <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScPy7QRiAvJOlaFddZPkpxsVIXCVRgTbn0DvA9xY-BG5LO_Ag/viewform" target="_blank">お申し込みはこちら</a></p> -->
		</dd>
	</dl>
	<dl>
		<dt>2018.4.20</dt>
		<dd>
			<p>動画配信によるセミナー受講がスタートします！<a href="/seminar/movie.html">詳細はこちらから</a></p>
		</dd>
	</dl>
	<!-- <dl>
		<dt>2018.4.5</dt>
		<dd>
			<p>7月スタートのセミナー（第三期）の募集が開始されました！</p>
			<p>＊<a href="/seminar/mental.html">メンタル疾患を改善させるための漢方セミナー</a>、<a href="/seminar/counseling.html">実践カウンセリング技術を磨けるセミナー</a>は今期で終了です。</p>
		</dd>
	</dl> -->
	<!-- <dl>
		<dt>2018.3.6</dt>
		<dd>
			<p>5月13日、14日、大阪にて講演いたします。詳しくは<a href="/assets/pdf/20180513-14.pdf" target="_blank">PDF</a>をご覧ください。<br><a href="/assets/pdf/20180513-14.pdf" target="_blank">〜タクヤ先生出版記念＆西日本進出記念講演〜「中医学基礎をしっかり楽しくわかりやすく学ぶセミナー」</a></p>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScPy7QRiAvJOlaFddZPkpxsVIXCVRgTbn0DvA9xY-BG5LO_Ag/viewform" target="_blank">お申し込みはこちら</a><br>フォーム申込みの金額は12,960円（本購入割引あり）です。</p>
		</dd>
	</dl> -->
</section>
