    </div>
    <footer id="site-footer">
			<div class="book-content">
				<div class="inner">
					<h2><span class="inb">タクヤ先生 執筆書籍</h2>
					<div class="box1">
						<div class="book-wrap">
							<div class="img">
								<a href="https://amzn.to/2SWQ9LD" target="_blank">
									<img src="http://www.sugiyaku.com/course/images/book2.jpg" alt="" class="book">
									<span><img src="http://www.sugiyaku.com/course/images/btn-amazon.svg" alt="" class="btn"></span>
								</a>
							</div>
							<div class="txt">
								<h3>現場で使える <br>薬剤師・登録販売者のための漢方相談便利帖 <br>わかる！選べる！漢方薬163</h3>
								<p>医療用・薬局・薬店で販売されている漢方薬のほぼ全てを網羅！どの参考書よりもわかりやすい解説書です！</p>
							</div>
						</div>
						<div class="book-wrap">
							<div class="img">
								<a href="http://amzn.asia/3qYJkg6" target="_blank">
									<img src="http://www.sugiyaku.com/course/images/book.jpg" alt="" class="book">
									<span><img src="http://www.sugiyaku.com/course/images/btn-amazon.svg" alt="" class="btn"></span>
								</a>
							</div>
							<div class="txt">
								<h3>現場で使える <br>薬剤師・登録販売者のための漢方相談便利帖 </h3>
								<p>漢方の勉強の方法、資格保有者（薬剤師・登録販売者等）が漢方を店舗で取り扱う方法をわかりやすく解説しています。 <br>一般の方でもわかりやすく漢方の知識が学べる一冊です！</p>
							</div>
						</div>
					</div>
				</div>
			</div>
      <div class="box-1">
        <a href="http://www.sugiyaku.com/" target="_blank"><img src="/assets/img/common/logo-sugiyaku.png" alt="漢方相談のスギヤマ薬局"></a>
      </div>
      <div class="box-2">
        <a href="/"><img src="/assets/img/common/logo.svg" alt=""></a>
        <p class="copyright">&copy; Takuya kanpo consulting</p>
      </div>
    </footer>
  </div>
  <script src="/assets/js/min/main.min.js"></script>
  <script src="/assets/js/min/analysis.min.js"></script>
</body>
</html>
