<header id="site-header">
	<div class="shop-name">
		<a href="/">Takuya kanpo consulting</a>
		<p class="desc">漢方店舗専門のコンサルタント</p>
	</div>
	<nav class="global-nav">
		<div class="global-nav-in">
			<div class="global-nav-in2">
				<div class="global-nav-greeting">
					<a href="/greeting/"><span>Greeting</span><span>ご挨拶</span></a>
				</div>
				<div class="global-nav-consultant">
					<a href="/consultant/"><span>Consultant</span><span>コンサルタント</span></a>
				</div>
				<div class="global-nav-seminar">
					<a href="/seminar/2019/"><span>Seminar</span><span>セミナー</span></a>
				</div>
				<div class="global-nav-works">
					<a href="/works/"><span>Works</span><span>実績</span></a>
				</div>
				<div class="global-nav-contact">
					<a href="/contact/"><span>Contact</span><span>お問い合わせ</span></a>
				</div>
			</div>
		</div>
	</nav>
	<div id="global-nav-btn">
		<span class="lines"></span>
	</div>
</header>
