<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta property="og:image" content="https://takuya-kanpo-consulting.com/assets/img/common/og.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
<link rel="stylesheet" href="/assets/css/main.css?id=180703">
<link rel="stylesheet" media="(max-width: 999px)" href="/assets/css/mobile.css" >
<link rel="stylesheet" media="(min-width: 1000px)" href="/assets/css/desktop.css" >
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>');</script>
<script src="/assets/js/vendor/jquery.plugin.min.js"></script>
<script src="/assets/js/vendor/velocity.min.js"></script>
