<nav class="semi-nav">
  <div class="inner">
    <ul>
			<li class="chuuigaku"><a href="/seminar/chuuigaku.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>超わかりやすい基礎中医学セミナー</a></li>
			<li class="keiei"><a href="/seminar/keiei.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>伸び続ける！店舗経営実践セミナー</a></li>
      <li class="biyou"><a href="/seminar/biyou.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>体内から美しくなる美容漢方セミナー</a></li>
      <li class="shokuyoujyou"><a href="/seminar/shokuyoujyou.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>体質別食養生＋基礎カウンセリングスキルセミナー</a></li>
      <li class="kanpouyaku"><a href="/seminar/kanpouyaku.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>面白いほど漢方薬の使い方がわかるセミナー</a></li>
      <li class="mental"><a href="/seminar/mental.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>メンタル疾患を改善させるための漢方セミナー</a></li>
      <li class="counseling"><a href="/seminar/counseling.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" class="icon"><path  d="M23.79233,31.13592H22.7874V8.07163h1.00492ZM27.39616,8.07163H26.39124V31.13592h1.00492Zm3.60384,0H29.99508V31.13592H31ZM20.18849.86408H19.18357V31.13592h1.00492Zm-3.60384,0H15.57973V31.13592h1.00492Zm-3.60384,0H11.97589V31.13592h1.00492ZM9.37722,15.27918H8.3723V31.13592H9.37722Zm-3.60384,0H4.76846V31.13592H5.77339Zm-3.76846,0H1V31.13592H2.00492Z"/></svg>実践カウンセリング技術を磨けるセミナー</a></li>
    </ul>
  </div>
</nav>
