.contact-tel{
	border: 2px solid $cg;
	padding: 2rem 2.5rem;
	border-radius: 2px;
	margin-bottom: 3rem;
	display: none;
  em{
    font-size: 2.2rem;
    font-weight: 600;
  }
	span{
		margin-right: 1rem;
	}
	p+p{
		font-size: 1.3rem;
	}
}

.contact-wrap{
	.contact-read{
		margin-bottom: 2rem;
	}
	h2{
		font-weight: 500;
		margin-bottom: 1rem;
		font-size: 2.6rem;
	}
	dl+h2{
		margin-top: 60px;
	}
	dl{
		dt{
			width: 25%;
			white-space: nowrap;
			padding-right: 20px;
		}
		dd{
			img{
				width: 50%;
			}
		}
		+dl{
			margin-top: 1.5rem;
			padding-top: 1.5rem;
			border-top: 1px solid $cg;
		}
	}
	textarea{
		width: calc(100% - 20px);
	}
	textarea,
	input[type='text'],
	input[type='email'] {
		padding: 5px 10px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
	}
	input[size='20']{
		width: 90%;
		width: calc(100% - 20px);
	}
	input[size='10']{
		width: 35%;
	}
	input[size='5']{
		width: 10%;
	}
	input[size='4']{
		width: 7%;
	}

	.must{
    color: #fff;
    font-size: 1.1rem;
    vertical-align: .1rem;
    margin-left: .6rem;
		background-color: $cy;
		padding: .2rem .5rem .3rem;
		line-height: 1;
		font-weight: 500;
  }
	&.complate{
		p+p{
			margin-top: 1rem;
		}
	}
}

.contact-btn{
	text-align: center;
	margin-top: 5rem;
	.btn-send{
		width: 60%;
		border: 0;
		display: inline-block;
		margin: 0 auto;
		padding: 1.5rem 0;
		border-radius: 2px;
		text-align: center;
		font-size: 2rem;
		letter-spacing: 2px;
		color: #fff;
		background-color: $cy;
	}
	.btn-back{
		width: 30%;
		border: 0;
		display: inline-block;
		margin: 0 auto;
		padding: 1.5rem 0;
		border-radius: 2px;
		text-align: center;
		font-size: 2rem;
		letter-spacing: 2px;
		color: #fff;
		background-color: #424242;
	}
}

.mw_wp_form_input{
	.input{
		display: block;
	}
	.complate,
	.confirm{
		display: none;
	}
	.contact-tel{
		display: block;
	}
}
.mw_wp_form_confirm{
	.confirm{
		display: block;
	}
	.complate,
	.input{
		display: none;
	}
}


/* 768px以下 */
@media (max-width: 768px) {

}
/* 769px以上 */
@media (min-width: 769px) {
	.contact-wrap{
		dl{
			display: table;
			width: 100%;
			dt,dd{
				display: table-cell;
			}
			dt{
				width: 26rem;
			}
			dd{
			}
		}
	}
}
