@charset "utf-8";

.cons-list{
  ul{
    li{
      width: calc(50% - 10px);
    }
  }
}
.cons-nav{
	text-align: center;
  ul{
    display: inline-block;
    li{
      text-align: left;
      display: block;
      +li{
        margin-top: .5em;
      }
      a{
        padding: .3em 0;
      }
    }
  }
}
body.consultant{
  .under-header{
    .icon{
      background-position: 0 70%;
      background-size: 30px auto;
      padding-left: 40px;
    }
  }

}
