@charset "utf-8";

#site-footer{
	.book-content{
		padding: 2.5em 0;
		h2 {
			margin-bottom: 1.2em;
		}
		.box1{
			display: block;
		}
	}
	.book-wrap {
		+.book-wrap {
			margin-top: 2em;
		}
	  // display: block;
		// margin-top: 0;
		width: 100%;
		// padding-bottom: 2em;
	  .img {
	    width: 35%;
	  }
	  .img img.book {
	    // width: 210px;
	  }
	  .txt {
			width: 60%;
			// margin-top: 1.5em;
	    // width: 100%;
		}
	}
	.box-1{
    // padding:  0 0 2em 0;
  }
}
