@charset "utf-8";

#site-header{
  background-color: #fff;
  padding-top: 70px;
  .shop-name{
    position: absolute;
    left: 10px;
    top: 10px;
    a{
      width: 100px;
      height: 31px;
      background-size: 100px 31px;
    }
  }
  .desc{
    font-size: .9rem;
    line-height: 1;
    margin-top: .6em;
  }
  .global-nav{
    transition: opacity .3s;
    z-index: 99;
		top: -9999px;
    opacity: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    .global-nav-in{
      display: table;
      width: 100%;
      height: 100%;
      .global-nav-in2{
        display: table-cell;
        vertical-align: middle;
        a{
          display: block;
          span{
            display: block;
          }
          span:first-child{
            font-size: 2.4rem;
            font-family: $ffen1;
            letter-spacing: .1em;
            margin-bottom: .2em;
          }
          span:last-child{
            font-size: 1.3rem;
            letter-spacing: .1em;
          }
        }
        div+div{
          margin-top: 2rem;
        }
        .global-nav-magazine{
          a{
            background-position: 50% 1rem;
          }
        }
      }
    }
  }
}


.navopen{
	overflow: hidden;
	#site-header{
		.global-nav{
			opacity: 1;
			top: 0;
		}
	}
}


#global-nav-btn{
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	user-select: none;
	height: 25px;
	width: 30px;
	background: transparent;
	outline: none;
	z-index: 100;
	.lines {
		display: block;
		height: 1px;
		width: 30px;
		background: #000;
		position: relative;
	}
	.lines::before,
	.lines::after {
		transition:ease .3s;
		display: block;
		height: 1px;
		width: 30px;
		background: #000;
		content: '';
		position: absolute;
		left: 0;
	}
	.lines::before {top: 8px;}
	.lines::after {top: -8px;}
}
#global-nav-btn > * { display: block; }
#global-nav-btn:hover, #global-nav-btn:focus { outline: none; }
#global-nav-btn::-moz-focus-inner { border: 0; }


#global-nav-btn.close{
	.lines {
		height: 0;
	}
	.lines::before,
	.lines::after {
		top: 0;
    background: #000;
	}
	.lines::before {transform: rotate(-45deg);}
	.lines::after {transform: rotate(45deg);}
}
