@charset "utf-8";
html{
	font-size: calc(46% + .3vw);
}
body {
	font-size: 1.6rem;
}
p,li,dl{
	line-height: 1.8;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.3;
}

.desktop{
	display: none;
}
.inner{
	padding-left: 4vw;
	padding-right: 4vw;
}
#contents.main{
  .ttl-1{
    margin-bottom: 2rem;
  }
}
