@charset "utf-8";
body.magazine{
}
.entry-list{
  a{
  }
  dl{
    display: block;
    font-size: 2rem;
    dt,dd{
      display: block;
    }
    dd{
      margin-top: 1rem;
      padding-left: 0;
    }
  }
}
