@charset "utf-8";

.semi-schedule-wrap{
	>div{
		width: 100%;
		+div{
			margin-top: 1em;
		}
	}
	.semi-schedule-list{
		dt{
			font-size: 1.4rem;
			padding-right: 1em;
		}
		dd{
			font-size: 1.1rem;
			+dd{
				padding-left: .2em;
			}		}
	}
}
.semi-ttl{
	margin-bottom: 2em;
}
.semi-btn-entry{
	margin-top: 3em;
}
.semi-movie{
	margin-top: 0;
}

.semi-movie-label{
	text-align: center;
	.note{
		display: block;
		margin: 1.0em 0 0 0;
	}
}
.semi-data{
	a+a{
		margin-top: .5em;
	}
}


.semi-news{
	dl{
		padding-left: 1em;
		dd{
			margin-top: .5em;
		}
	}

}

.semi-list2{
  // .semi-box{
	// 	&+.semi-box{
	// 		margin-top: 4em;
	// 	}
  // }
	.box{
		width: 100%;
	}
	.btn{
		width: 100%;
		margin: 1.5em auto 0;
		a{
			max-width: 220px;
			margin: 0 auto;
		}
	}
}

.semi-list{
  .sec{
    margin-top: 0 !important;
  }
  .semi-box{
    margin-top: 6vw;
  }
  section{
    padding: 6vw;
  }
  .mi{
    margin-top: 2em;
  }
  .btn{
    padding-top: 1.2em;
    a{
      margin: 0 auto;
      position: static;
      bottom: auto;
      left: auto;
      transform: translateX(0);
    }
  }
}


body.seminar{
	.semi-list2{
		padding-top: 3em;
	}
}
