@charset "utf-8";
.under-header{
  h1{
		// margin-top: 3.2vw;
    font-size: 3rem;
		font-size: calc(1.9rem + 1vw);
		font-weight: 600;
	}
	h2{
		margin-top: 1.5rem;
	}
  .inner{
		padding-top: 7vw;
		padding-bottom: 7vw;
  }
}
.under-visual{
  width: 100%;
}
.under-inner{
  padding: 2em 5vw 3em;
}
.under-inner2{
  padding-top: 2em;
}


.text-header{
	&+.under-inner{
		padding-top: 1em;
	}
}
.under-sec{
	margin-top: 6vw;
	margin-top: calc(30px + 2vw);
  &.box-btn{
		padding: 5vw 6vw;
  }
}
