@charset "utf-8";
body.works{
	.works-pagenav{
		margin-top: 3em;
	}
	.works-wrap{
		&+.works-wrap{
			margin-top: 3em;
		}
	}
	.works-ttl-1{
		font-size: 2rem;
	}
	.works-ttl-2{
		font-size: 1.6rem;
		margin-bottom: 1.5em;
	}

  .works-box{
    display: block;
    >div{
      display: block;
    }
  }
  .txt{
    padding-right: 0;
  }

  .pic{
		padding: 0;
		float: none;
    width: 100%;
    text-align: center !important;
    img{
      width: 60%;
      max-width: 180px;
    }
  }
	.txt{
		margin-top: 1.5em;

	}
}
